---
import Layout from '../layouts/Layout.astro'
import  common  from '../locales/es/common.json' // Importa el archivo common directamente
import Hero from './Hero.astro'
import Experience from './Experience.astro'
import Skills from './Skills.astro'
import Projects from './Projects.astro'
import About from './About.astro'
import Contact from './Contact.astro'

// Extrae las traducciones desde el archivo common
const { title, description } = common

const options = {
  title,
  description,
}
---

<Layout options={options}>

  <main>
    <Hero />
    <Experience />
    <Skills />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>

<style>
  main {
    max-width: 1054px;
    margin-inline: auto;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 1200px) {
      padding-inline: 0;
    }
  }
</style>
