---
const year = new Date().getFullYear();
const developer = "ValdiDev"; // Puedes reemplazar este texto directamente.
const copy = "Todos los derechos reservados."; // Traducción genérica o texto personalizado.
---

<footer>
    <span>
      © <span id="year">{year}</span>
      <a
        href="https://www.linkedin.com/in/alvaro-valdivia-miranda-a5065b178"
        target="_blank"
        rel="noopener noreferrer">{developer}</a>
    </span>
    <span>{copy}</span>
</footer>

<style>
  footer {
    padding-block: 67px;
    text-align: center;
    padding-inline: var(--mobile-inline-padding);

    @media (width >= 768px) {
      padding-inline: 0;
    }

    & p span video {
      display: inline-block;
      margin-inline: 4px;
    }

    & p > span:first-child::after {
      content: '|';
      display: inline-block;
      translate: 0 -1px;
      margin-right: 4px;
    }

    & a {
      color: var(--text-color);
      text-decoration: none;
      transition: var(--transition-text);

      @media (any-hover: hover) {
        &:hover {
          color: var(--text-description-color);
        }
      }
    }

    & video {
      translate: 0 -2px;
    }
  }
</style>

<script is:inline>
  document.querySelector('#year').textContent = new Date().getFullYear();
</script>
